html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.background{
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.panel{
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
    max-height: 90%;

    font-size: 1.3rem;
}

.panel p{
    text-align: justify;
    font-family: monospace;
    line-height: 50px;
    font-weight: bold;
    text-shadow: 7px 2px 2px rgba(255, 0, 0, 0.514);
}

.panel a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    animation: piscar 2s linear infinite;
    margin: 5px;
}
.menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    animation: piscar 2s linear infinite;
    margin: 5px;
}

.panel a:hover{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    animation: none;
    border-radius: 10px;
}
.menu a:hover{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    animation: none;
    border-radius: 10px;
}

.panel a[href="#"]{
    color: red;
}

.menu{
    position: fixed;
    bottom: 70px;
    left: 10px;
    right: 10px;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 300px;
    text-align: center;
    padding: 30px;
    margin: auto;
    
}

h2{
    margin: 0px;
}

p{
    text-indent: 20px;
    text-align: justify;
}


@keyframes piscar {
    0%{
        background-color: none;
        border-radius: 10px;
    }

    50%{
        background-color: rgba(252, 252, 252, 0.158);
        border-radius: 10px;
    }

    100%{
        background-color: none;
        border-radius: 10px;
    }
}