html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.background{
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.panel{
    position: fixed;
    bottom: 70px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 100%;
}

.panel a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    animation: piscar 2s linear infinite;
    margin: 5px;
}

.panel a:hover{
    padding: 10px;
}

.panel a[href="#"]{
    color: red;
}

.menu{
    width: 30%;
    min-width: 300px;
    text-align: center;
    padding: 30px;
    margin: auto;
    
}

h2{
    margin: 0px;
}


@keyframes piscar {
    0%{
        background-color: none;
        border-radius: 10px;
    }

    50%{
        background-color: rgba(252, 252, 252, 0.158);
        border-radius: 10px;
    }

    100%{
        background-color: none;
        border-radius: 10px;
    }
}